// Colors
$textColorDark = #555
$textColorLight = #777
$line = #ddd
$lightBackground = #f0f0f0
$transparentBackground = rgba(0,0,0,0.25)
$darkBlue = #36f
$blue = #59f
$lightBlue = #e5e5ff
$white = #ffffff

// Font sizes
$title = 24px
$subtitle = 20px
$postLargeText = 17px
$largeText = 16px
$preLargeText = 15px

$postNormalText = 14px
$normalText = 13px
$preNormalText = 12px

//Other sizes
$largeTableRowHeight = 30px
$tableRowHeight = 25px